{
    max-width: 700px;
}

.text_cell .prompt {
    display: none;
}
/*
div.text_cell{
    font-family : Palatino, URW Palladio L, serif;
}
*/

div.cell {
    padding: 0;
}

div.text_cell_render {
    padding: 0;
}


div.prompt {
    font-size: 13px;
}

div.input_prompt {
    padding: .7em 0.2em;
}

div.output_prompt {
    padding: .4em .4em;
}
div.input_prompt, div.output_prompt{
margin-left:-16ex;
}

div.input_area {
    margin: .2em 0.4em;
    max-width: 700px;
}
div.output_area {
    max-width: 700px;
}
div.output_subarea {
    margin-left:-11ex;
    max-width: 700px;
}
div.output_png{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.output_execute_result{
    margin-left:-0ex;
    max-width:700px;
}


table.dataframe {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

table.dataframe th, td {
    padding: 4px;
    text-align: left;
}
